::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    width: 500px;
    height: 300px;
    background-color: #121212;
    color: #d5d5d5
}

.delete {
    padding: 0 !important;
    border: 0 !important;
    float: right;
}

.save {
    padding: 0 !important;
    border: 0 !important;
    float: right;
}

a {
    text-decoration: none;
    color: #d5d5d5
}

h6 {
    text-align: center;
    margin: 4px
}

.footer {
    background-color: #121212;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    justify-content: center;
    margin-top: 2px;
}

.favicon {
    width: 25px;
    height: 25px
}

.fav-th {
    margin: 0 !important;
    padding: 8px !important;
    width: 30px !important;
    vertical-align: middle;
}

.btn-group {
    width: 100%;
    margin: 0;
    justify-content: center;
}

.col-6 {
    padding: 0%;
}

.btn-outline-primary {
    color: #d5d5d5;
    border: 0px;
    border-radius: 0%
}

.btn-outline-primary:hover {
    background-color: #121212;
    border-bottom: 5px solid #018786;
}

.selected {
    border-bottom: 5px solid #018786;
}

.save-to {
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 0px;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

/* badge */

.badge {
    background-color: none;
    position: relative;
    top: 2px !important;
    padding: 5.5px 1px 5px 1px !important;
}